Source: ocemr-archive-keyring
Section: misc
Priority: important
Maintainer: Philip J. Freeman <elektron@halo.nu>
Build-Depends: debhelper (>= 5), jetring, gnupg
Standards-Version: 3.7.3

Package: ocemr-archive-keyring
Architecture: all
Priority: important
Depends: gnupg
Description: GnuPG archive keys of the OCEMR Debian archive
 The OCEMR Debian archive digitally signs its Release files. This
 package contains the archive keys used for that.
